body {

    color: #2a2b25;
    background-color: rgba(237, 212, 21, 0.808);
}

.jumbotron {
    background-image: url("https://github.com/MiguelMSUB/Plotly/blob/77db18202e5c73e290564aeace893378242f85d5/Resources/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
  }